[Unit]
Description = Backend Service

[Service]
User=expense
WorkingDirectory=/app
Environment=DB_HOST="mysql-dev.priya9sdr.online"
Environment=NEW_RELIC_APP_NAME=backend
Environment=NEW_RELIC_LICENSE_KEY=2217b199721259439b8a2033ed827b48FFFFNRAL
ExecStart=/bin/node -r newrelic  /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target